$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

//Color

$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: grid;
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px) {
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
}


//Header
header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        .logo {
            a {
                font-weight: bolder;
                text-decoration: none;
                letter-spacing: 2.5px;
                color: $black
            }
        }
        .navigation{

            nav {
                
                a {
                    margin: 0 15px;
                    text-decoration: none;
                    letter-spacing: 1px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 10px;
                    color: $black;
                    &:last-child {
                        margin-right: 0px;
                    }
                }

                #outcastlink {
                    font-style: italic;
                    text-transform: lowercase;
                    font-family: 'Montserrat', sans-serif;
                }
            }
           
        }
        
    }
}


//Banner

.banner {
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    height: 110vh;
    .row {
        position: relative;
        .main-text {
            font-size: 5rem;
            text-transform: uppercase;
            letter-spacing: 48px;
            font-weight: 700;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            mix-blend-mode: difference;
            z-index: 9;
            @media (max-width: 1440px) {
                font-size: 4.4rem;
                letter-spacing: 36px;
            }
        }
        .main-image {
            width: 536px;
            margin: 0 auto;
            @media (max-width: 1440px) {
                width: 400px;
            }
        }
        .side-image {
            width: 350px;
            position: absolute;
            @media (max-width: 1440px) {
                width: 260px;
            }
            &.left {
                left: 168px;
                top: 50px;
                @media (max-width: 1440px) {
                    left: 128px;
                }
            }
            &.right {
                right: 168px;
                bottom: 50px;
                @media (max-width: 1440px) {
                    right: 128px;
                }
            }
        }
    }
  
    .fixed-misc {
        position: fixed;
        top: 50%;
        right: -48px;
        transform: rotate(-90deg);
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1.5px;
        color: $white;
        mix-blend-mode: difference;
        z-index: 8;
        @media (max-width:1440 px) {
            right: -112px
        }
    }
}

//About 

.about-blurb {
    padding: 115px 350px 28px 45px;
    background: white;
    position: relative;
    z-index: 2;
    margin-left: 100px;
    .inner-blurb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content {
            width: 33%;
            @media (max-width: 1440px) {
                width: 40%;
            }
            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bolder;
                letter-spacing: 1.5px;
                margin: 0;
            }
            p {
                font-size: 12px;
                line-height: 1.5rem;
                font-weight: 300;
                margin: 20px 0 50px;
            }
        }
    }
    .fixed-misc {
        position: fixed;
        top: 50%;
        right: -48px;
        transform: rotate(-90deg);
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1.5px;
        z-index: 8;
        @media (max-width:1440 px) {
            right: -112px;
        }
    }
}


//Contact
.email-contact {
    padding: 120px 300px 28px 45px;
    background: white;
    position: relative;
    z-index: 2;
    margin-left: 80px;
    
    .inner-blurb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content {
            width: 33%;
            @media (max-width: 1440px) {
                width: 40%;
            }
            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bolder;
                letter-spacing: 1px;
                margin: 0;
                
            }

            p {
                font-size: 12px;
                line-height: 1.3rem;
                font-weight: 300;
                margin: 20px 0 50px;
            }
            b {
                font-weight: 1000;
                font-style: italic;
                font-family: 'Montserrat', sans-serif;
            }
        }
    
        .container {
            position: fixed;
            bottom: 0;
            padding: 85px 200px 30px 0px;

            .email-image {
                margin-top: 40px;
                margin-left: 0px;
                float: left;
                width: 18px;
                position: relative;
            }
            .ig-image {
                margin-top: 20px;
                margin-left: 0px;
                float: left;
                width: 19px;
                position: relative;
            }
            p {
                font-size: 12px;
                letter-spacing: 1.5px;
                line-height: 2rem;
                font-weight: normal;
                margin: 28px 0px 0px 30px;
            }
            p1 {
                font-size: 12px;
                letter-spacing: 1.5px;
                line-height: 3rem;
                font-weight: normal;
                margin: 28px 0px 0px 10px;
            }

            p3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                line-height: 1rem;
                font-weight: 900;
                margin: 25px 0px 0px px;
            }
          
    }
}
    .fixed-misc {
        position: fixed;
        top: 50%;
        right: -48px;
        transform: rotate(-90deg);
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1.5px;
        @media (max-width:1440 px) {
            right: -112px;
        }
    }
}

//Influencer pics

.influencers {
    margin-top: 100px;
    position: relative;
    .row {
        justify-content: center;
            .column {
                object-fit: cover;
                width: 300px;
                height: 300px;
                background-position: center;
                background-size: cover;
                position: relative;
                float: left;
                margin: 8px;
                overflow: hidden;
                align: center;

                .img-container {
                    position: relative;
                    width: 300px;
                    height: 300px;
                    align-items: center;
                    justify-content: center;

                    .img-caption {
                        display: none;
                        position: absolute;
                        top: 0;
                        color: white;
                        text-shadow: 2px 2px 4px #000000;
                        font-size: 18px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: normal;
                        text-align: center;
                        width: 100%;
                        height: 90%;
                        justify-content: flex-end;
                        flex-direction: column;
                    }

                    &:hover .img-caption {
                        display: flex;
                        
                    }
                }
                &:hover .img-container {
                    opacity: 0.6;
                }
            }
        }
    }

.fixed-misc {
    position: fixed;
    top: 50%;
    right: -48px;
    transform: rotate(-90deg);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    @media (max-width:1440 px) {
        right: -112px;
    }
}


//Press Pics

.press {
    margin: 100px;
    position: relative;

    .container {
        .row {
           align-content: center;
        }
        
        .img-container {
            display: flex;
            width: 650px;
            align-items: flex-end;
            justify-content: space-around;
            margin: auto;
            padding: 10px 10px 10px 10px;
            float: left;

            .img {
                padding: 10px 10px 10px 10px;
            }

            .caption {
                bottom: 0px;
                right: 15px;
                line-height: 10px;
                width: 450px;
                padding: 10px 10px 10px 10px;

            }
            h3 {
                font-size: 16px;
                font-weight: bolder;
            }
            p {
                font-size: 14px;
                font-weight: bolder;
            }

            p1 {
                font-size: 14px;
                white-space: nowrap;
                font-weight: bolder;

            }
            p2 {
                font-size: 14px;
                font-weight: normal;
                line-height: 15px;
                padding-top: 10px;
                display: block;
                text-transform: uppercase;
                font-style: italic;
            }
           
        }    
    }
}


.producer {
    margin-top: 100px;
    position: relative;

    .row {
        padding-top: 10px;
        align-content: center;
    }
    
    .column {
        float: left;
        width: 400px;
        padding: 45px 5px 0px 20px;

    }

    .container {
        width: 400px;
        height: 300px;
        align-items: center;
        justify-content:space-around;
        padding: 10px 0px 5px 10px;
        padding-top: 20px;
        overflow: hidden;
        display: block;
        vertical-align: center;

    }
    .capCon {
        height: 20px;
        position: relative;
        top: 15px;

    }

    .caption {
        position: absolute;
        padding: 0px 0px 0px 20px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

    }
    
}